<nav class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand" href="#">Creadores-UY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <hr class="collapse_hr">
    <div class="collapse-container">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <hr class="collapse_hr collapse_hr-r1">
      <form class="nav-form">
        <input type="submit" class="nav-form_input form_input_i rounded-pill" value="Iniciar Sesion">
        <input type="submit" class="nav-form_input form_input_c rounded-pill" value="Crear Cuenta">
      </form>
    </div>
  </div>
</nav>