* {
	font-weight: 100;
	font-family: 'Open Sans', sans-serif;
}

.navbar{
	background: linear-gradient(to bottom, #ffa420, #fff);
    border-bottom: 1px solid #999;
}

.collapse-container{
    display: flex;
    flex-direction: row; 
    width: 100%;  
}

.nav-form{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.nav-form_input{
    width: 100%;
    min-width: 100px;
	padding: 6px 12px;
    margin: 0 6px;
	border: none;
    border-bottom: 1px solid #999;
	color: #444;
}

.nav-form_input:hover{
	background: linear-gradient(to bottom, #0f0, #cfc);
	outline: none;
	border-bottom: 2px solid #777;
	color: #000;
}

.nav-form_input:focus{
	background: linear-gradient(to bottom, #0f0, #cfc);
	outline: none;
	border-bottom: 2px solid #777;
	color: #000;
}

.form_input_c{
    background: linear-gradient(to bottom, #3f3, #efe);
}

.form_input_i{
    background-color: #fff;
}

.navbar-toggler{
	border: none;
}

.collapse_hr{
    display: none;
}

@media only screen and (max-width:  575px) {
    .collapse-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .navbar-nav{
        order: 5;
        flex-direction: row;
        flex: 1,0,100px;
        justify-content: space-around;
    }
    .nav-form{
        width: 100%;
        margin-top: 5px;
        order: 1;
    }
    .collapse_hr{
        display: flex;
        border-bottom: 1px solid #222;
        margin: 15px 0;
        border-radius: 15%;
    }
    .collapse_hr-r1{
        order: 3;
        width: 100%;
        border-bottom: 1px solid #999;
    }
    .navbar{
        border-bottom: none;
    }
}