<div class="container-body">
  <app-search-card class="card container-body_card"
  *ngFor="let sub of subscriptions" [sub]="sub"></app-search-card>
</div>
<hr>
<div class="container-search_input">
  <input type="text" placeholder="Buscar" id="input-search" (input)="searchElement($event)" #subscriptionTitle>
  <button type="button" (click)="searchSubs(subscriptionTitle.value)"><i class="bi bi-search"></i></button>
</div>
<div  class="container-body">
  <app-search-card class="card container-body_card" 
  *ngFor="let sub of subscriptionSearch" [sub]="sub"></app-search-card>
</div>
