h5{
    font-size: 18px;
}

.container-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin: 15px 0;
}

.container-body_card{
    max-width: 300px;
    min-width: 250px;
    flex-grow: 1;
    margin-bottom: 15px;
    margin: 25px 15px;
}

.container-search_input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 0;
    width: 100%;

}

.container-search_input input{
    flex-grow: 1;
    max-width: 350px;
    border: 1px solid #ccc;
    margin-top: 25px;
    margin-left: 15px;
    border-radius: 50px 0px 0px 50px;
    padding: 4px 12px;
    max-height: 33px;
}

.container-search_input button{
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 0px 50px 50px 0px;
    margin-top: 25px;
    margin-right: 15px;
    max-width: 35px;
    background-color: #eee;
}

.container-search_input input:focus{
    outline: none;
    border: 1px solid #003;
}