<div class="card-body">
  <h5 class="card-title" style="text-align: center;">{{sub.title}}</h5>
  <div class="img-container">
    <img class="img-fluid" src="/assets/img/1.jpg" alt="image">
  </div>
  <h5 class="card-title" style="text-align: center;"><b>$15 al mes</b></h5>
  <div class="card-body_buttom"><a href="#" class="btn btn-primary rounded-pill">Suscribirse</a></div>
  <hr>
  <p class="card-text">{{sub.description}}</p>
</div>
