h5{
    font-size: 18px;
}

.card-body p{
    font-size: 11px;
    margin-top: 25px;
}

.img-container{
    display: flex;
    max-width: 150px;
    max-height: 150px;
    min-width: 50px;
    min-height: 50px;
    margin: 20px auto;
    background-color: black;
}

.card-body_buttom{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 5px 0;
}